<div class="d-flex flex-column justify-content-center frontpage-container">
      <h2 class="text-center my-5 display-4">Book Your Timing</h2>
      <div class="row justify-content-start">
            <div id="calendar" class="frontpage-calendar col-8 mr-3"></div>
            <div class="col-6">
                  <h2>Select times on Tue, June 8</h2>
                  <p>Prioritized Location: (e.g. East)</p>
                  
                  <table>  
                        <% for(let i = 0; i < timeslotOption.length; i++){ %>
                              <tr>
                                    <td class="table-timeslot-td timeslot-option"><%= timeslotOption[i] %></td>
                                    <form method="post" class="nav-link" action="/beautylash/users/dashboard">
                                          <td class="table-timeslot-td">
                                          <select name="treatment" id="area" class="form-select calendar-input-size">
                                                <option value="" selected>Select here</option>
                                                <option value="lashlift">G.E.L. Keratin Lash lift and Tint</option>
                                                <option value="russian volume">Russian Volume Eyelash Extension</option>
                                                <option value="skinny volume">Skinny Volume Eyelash Extension</option>
                                          </select>
                                          </td>
                                          <td>Not available</td>
                                    </form>
                              </tr>
                        <% } %>
                        

                        <tr>
                              <td class="table-timeslot-td timeslot-option">11am - 12:30pm</td>
                              <form method="post" class="nav-link" action="/beautylash/users/dashboard">
                                    <td class="table-timeslot-td">
                                    <select name="treatment" id="area" class="form-select calendar-input-size">
                                          <option value="" selected>Select here</option>
                                          <option value="lashlift">G.E.L. Keratin Lash lift and Tint</option>
                                          <option value="russian volume">Russian Volume Eyelash Extension</option>
                                          <option value="skinny volume">Skinny Volume Eyelash Extension</option>
                                    </select>
                                    </td>
                                    <td class="table-timeslot-td">
                                    <button type="submit" class="btn btn-success">Book</button>
                                    </td>
                              </form>
                        </tr>
                    </table>           
                  
            </div>
      </div>
</div>
