<div class="d-flex flex-column justify-content-center frontpage-container">
      <h2 class="text-center my-5 display-4">Book Your Timing</h2>
      <div class='text-center display-5' style="background-color: coral; height: 300px; padding-top: 10%">Calendar here</div>
</div>