<div class="d-flex flex-column justify-content-center frontpage-container">
      <h2 class="text-center my-5 display-4">Book Your Timing</h2>
      <div id="calendar" class="frontpage-calendar"></div>
      <!-- <div id="calendar"></div> -->
</div>