<div class="d-flex flex-column justify-content-center align-items-center frontpage-container">
      <h2 class="text-center display-4 my-5">Most Popular Treatments</h2>

      <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Slides-->
    <div class="carousel-inner" id="carousel-fixed" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-4">
            <img src="/assets/customers/lashlift-1.jpg" class="carousel-image">
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <img src="/assets/customers/lashlift-2.jpg" class="carousel-image">
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <img src="/assets/customers/lashlift-3.jpg" class="carousel-image">
          </div>
        </div>
      </div>
      <!--First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <img src="/assets/customers/lashlift-4.jpg" class="carousel-image">
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <img src="/assets/customers/lashlift-5.jpg" class="carousel-image">
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <img src="/assets/customers/lashlift-6.jpg" class="carousel-image">
          </div>
        </div>
      </div>
      <!--Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <img src="/assets/customers/lashlift-7.jpg" class="carousel-image">
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <img src="/assets/customers/skinny-volume-ext-1.jpg" class="carousel-image">
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <img src="/assets/customers/skinny-volume-ext-2.jpg" class="carousel-image">
          </div>
        </div>
      </div>
      <!--Third slide-->

    </div>
    <!--Slides-->

    <!--Indicators-->
    <div class="carousel-indicators shift-down">
      <button type="button" data-bs-target="#multi-item-example" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#multi-item-example" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#multi-item-example" data-bs-slide-to="2"></button>
    </div>
    <!--Indicators-->
  </div>
  <!--Carousel Wrapper-->
    
            
</div>