<div class="flex direction my-3">
      <label style="font-size: 20px;"><%= name[0].toUpperCase() + name.slice(1) + ' :' %> </label> 
      <input type="text" name="<%= name %>" placeholder="<%= placeholder %>" style="min-width: 300px; padding: 5px 5px;">
</div>