<div class="d-flex flex-row justify-content-center frontpage-container py-5">
      
      <div class="d-flex flex-column align-items-center mb-3">
            <p class="m-3 frontpage-message text-center">
                  Enjoy our home eyelash services, at the comfort of your own home</p>
            <p class="m-3 frontpage-message text-center">
                  We always clean and sanitize all equipments before and after each treatments for you
            </p>
            <a class="btn btn-secondary frontpage-button mt-4 mb-4" href="/beautylash/customers">Our Customers</a>

      </div> 
      <img src="/assets/marketing/front-page-picture.jpeg" class="intro-image">

</div>