<div class="d-flex flex-row justify-content-center frontpage-container">
      <img src="/assets/marketing/front_page.jpg" class="instagram-post m-3">
      <div class="d-flex flex-column align-items-center mb-3">
            <p class="m-3 frontpage-message">
                  Enjoy our home eyelash services, at the comfort of your own home. </p>
            <p class="m-3 frontpage-message">
                  Our lash experts always cleans and sanitizes their equipments before and after each treatments.
            </p>
            <a class="btn btn-secondary frontpage-button mt-5" href="/beautylash/customers">Our Customers</a>
      </div> 

</div>