<div class="d-flex flex-column justify-content-center frontpage-container">
      <h2 class="text-center my-5 display-4">Book Your Timing</h2>
      
      <div class="row justify-content-start">

            <!-- render calendar -->
            <div id="calendar" class="frontpage-calendar col-10"></div>
            
            <!-- input form -->
            <div class="col-5" style="margin-left: 20px;">
                  <form method="post" action="/beautylash/users/dashboard">
                  <h4 class="mb-3 text-center" id="title-with-date">
                        Select Timeslot: <span id="date-selected" name="date"></span>
                  </h4>
                  
                  <p class="text-center">Prioritized Location: East</p>
                  
                  <table>  
                        <% for (let i = 0; i < timeslotOptions.length; i++ ) {%>
                              <tr>
                                          <td 
                                                class="table-timeslot-td timeslot-option" 
                                                name="timeslot"
                                                value="<%= timeslotOptions[i] %>"
                                          >
                                                <%= timeslotOptions[i] %>
                                          </td>

                                          <td class="table-timeslot-td">
                                                <select name="treatment" id="area" class="form-select calendar-input-size">
                                                      <option value="" selected>Select here</option>
                                                      <option value="lashlift">G.E.L. Keratin Lash lift and Tint</option>
                                                      <option value="russian volume">Russian Volume Eyelash Extension</option>
                                                      <option value="skinny volume">Skinny Volume Eyelash Extension</option>
                                                </select>
                                                <!-- <%- include("./treatment_list.ejs")  %> -->
                                          </td>
                                          
                                          <!-- If timeslot is open, show a button -->
                                          <td class="table-timeslot-td">
                                                <button 
                                                      type="submit" 
                                                      class="btn btn-success"
                                                >
                                                      Book
                                                </button>
                                          </td>
                                          <!-- else-if timeslot is booked, show not-available -->
                                          <!-- <td>Not available</td> -->
                                    </form>
                              </tr>
                        <% } %>
                    </table>           
            </div>
      </div>
</div>
