<select name="treatment" id="area" class="form-select calendar-input-size">
      <option value="" selected>Select here</option>
      <option value="lashlift">G.E.L. Keratin Lash lift and Tint</option>
      <option value="russian volume">Russian Volume Eyelash Extension</option>
      <option value="skinny volume">Skinny Volume Eyelash Extension</option>
</select>