body {
  background-color: #393e46;
  color: white;
}

.frontpage-banner {
  width: 100%;
}

.frontpage-container {
  max-width: 900px;
  margin: 0 auto;
}

.frontpage-message {
  max-width: 500px;
  font-size: 20px;
}

.frontpage-button {
  background-color: #e6c4c0;
  width: fit-content;
  color: black;
}

.frontpage-calendar {
  max-width: 500px;
  background-color: aliceblue;
  color: black;
  padding: 20px;
}

.instagram-post {
  max-width: 350px;
  max-height: 350px;
}

label {
  /* margin-bottom: 1rem; */
  margin-right: 20px;
  font-weight: 500;
  width: 100px;
}

/* ======= Carousel ======= */
.carousel-image {
  max-width: 250px;
  max-height: 250px;
}
.carousel {
  /* background-color: coral; */
}

.shift-down {
  position: relative;
  top: 20px;
}

#carousel-fixed {
  max-width: 798px;
}

/* 
Color code in light theme
pink footer: #EECBCB
text: #3D4246
sale price: #557B97
primary button: #557B97
borders & lines in page: #E8E9EB

*/
