body {
  background-color: #393e46;
  color: white;
}

.navbar-width {
  max-width: 1100px;
}

.frontpage-banner {
  width: 100%;
}

.frontpage-container {
  max-width: 900px;
  margin: 0 auto;
}

.frontpage-message {
  max-width: 500px;
  font-size: 20px;
}

.frontpage-button {
  background-color: #e6c4c0;
  width: fit-content;
  color: #3d4246;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 600;
}

.frontpage-button:hover {
  background-color: palevioletred;
}

.instagram-post {
  max-width: 350px;
  max-height: 350px;
}

.customerPage-button {
  width: 350px;
  background-color: #e6c4c0;
  color: #3d4246;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 700;
}

.customerPage-button:hover {
  background-color: palevioletred;
}

label {
  /* margin-bottom: 1rem; */
  margin-right: 20px;
  font-weight: 500;
  width: 100px;
}
/* ======= Calendar ======= */
.frontpage-calendar {
  max-width: 500px;
  background-color: #eaeaea;
  color: #3d4246;
  padding: 20px;
}

.fc-daygrid-day-number {
  color: black;
  text-decoration: none;
}

.fc-col-header-cell-cushion {
  color: black;
  text-decoration: none;
}

.date-selection {
  display: inline;
  max-width: 150px;
  font-size: 24px;
  color: white;
  font-weight: 600;
  margin-left: 10px;
  padding-left: 5px;
}

.calendar-booking-form {
  padding: 0;
  margin: 0;
  min-width: 380px;
}

.ask-to-login {
  color: white;
  font-size: 20px;
  position: relative;
  top: 2px;
}

.ask-to-login:hover {
  color: darkgrey;
}

.smallInstruction {
  font-size: 14px;
}

/* ======= Calendar End ======= */

/* ======= Carousel ======= */
.carousel-image {
  max-width: 250px;
  max-height: 250px;
}
.carousel {
  /* background-color: coral; */
}

.shift-down {
  position: relative;
  top: 20px;
}

#carousel-fixed {
  max-width: 798px;
}

/* user login, register, logout */
.form-input-size {
  width: 300px;
  font-size: 20px;
}

.calendar-input-size {
  width: 150px;
  font-size: 14px;
}

.table-timeslot-td {
  padding-right: 20px;
  padding-top: 10px;
}

.timeslot-option {
  min-width: 130px;
  max-width: 150px;
  color: white;
  font-size: 22px;
}

/* ===== dashboard ===== */
.dashboard-width {
  min-width: 1200px;
  padding-left: 0;
  padding-right: 0;
}

.booking-box {
  border: 2px solid white;
  padding: 20px;
  min-width: 600px;
  max-width: 640px;
  margin-right: 20px;
}

.utility-box {
  border: 2px solid white;
  padding: 20px;
  max-width: 450px;
}

.table-booking-td {
  min-width: 150px;
  padding: 10px;
}
.table-title {
  font-size: larger;
  font-weight: 700;
}

.cancel-button {
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* ======  show page ====== */

.show-image {
  max-width: 450px;
  max-height: 450px;
  margin-right: 50px;
}

.comment-panel-div {
  min-width: 400px;
}

.comment-label {
  font-size: 20px;
}

.like-status {
  font-size: 20px;
  margin-left: 20px;
  padding-top: 3px;
}

/* 
Color code in light theme
pink footer: #EECBCB
text: #3D4246
sale price: #557B97
primary button: #557B97
borders & lines in page: #E8E9EB

*/
