body {
  background-color: #393e46;
  color: white;
}

.navbar-width {
  max-width: 1100px;
}

.nav-item {
  margin-left: 5px;
  margin-right: 5px;
}

.main-page-title {
  font-family: "Cantata One", serif;
}

.frontpage-banner {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid grey;
}

.subheader {
  font-size: 40px;
  font-weight: 200;
}

hr.frontpage-break {
  margin: 0 auto;
  color: inherit;
  border: 0;
  opacity: 0.25;
  max-width: 1100px;
  align-items: center;
  justify-content: center;
  height: 3px;
}

.frontpage-container {
  max-width: 1000px;
  margin: 0 auto;
}

.intro-image {
  max-width: 450px;
  max-height: 316px;
  margin-left: 10px;
}

.frontpage-message {
  max-width: 500px;
  font-size: 20px;
}

.frontpage-button {
  background-color: #e6c4c0;
  width: fit-content;
  color: #3d4246;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 600;
}

.frontpage-button:hover {
  background-color: palevioletred;
}

.instagram-post {
  width: 350px;
  height: 350px;
}

.margin-right {
  margin-right: 20px;
}

/* customer page */

.header-banner {
  width: 100%;
  background: url("/assets/marketing/page-banner.png");
  padding: 50px;
  color: black;
  border: 1px solid grey;
  background-size: cover;
}

.customerPage-button {
  width: 350px;
  background-color: #e6c4c0;
  color: #3d4246;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 700;
}

.customer-input-size {
  width: 200px;
  font-size: 20px;
  border: 1px solid #3d4246;
}

.customerPage-button:hover {
  background-color: palevioletred;
}

.posting-gallery {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  padding: 0;
}

label {
  /* margin-bottom: 1rem; */
  margin-right: 20px;
  font-weight: 500;
  width: 100px;
}
/* ======= Calendar ======= */
.frontpage-calendar {
  max-width: 500px;
  background-color: #eaeaea;
  color: #3d4246;
  padding: 20px;
}

.fc-daygrid-day-number {
  color: black;
  text-decoration: none;
}

.fc-col-header-cell-cushion {
  color: black;
  text-decoration: none;
}

.date-selection {
  display: inline;
  max-width: 150px;
  font-size: 24px;
  color: white;
  font-weight: 600;
  margin-left: 10px;
  padding-left: 5px;
}

.calendar-booking-form {
  padding: 0;
  margin: 0;
  min-width: 380px;
}

.ask-to-login {
  color: white;
  font-size: 20px;
  position: relative;
  top: 2px;
}

.ask-to-login:hover {
  color: darkgrey;
}

.smallInstruction {
  font-size: 14px;
}

/* ======= Calendar End ======= */

/* ======= Carousel ======= */
.carousel-image {
  width: 250px;
  height: 250px;
}

.shift-down {
  position: relative;
  top: 20px;
}

#carousel-fixed {
  max-width: 798px;
}

/* user login, register, logout */
.form-input-size {
  width: 300px;
  font-size: 20px;
}

.calendar-input-size {
  width: 150px;
  font-size: 14px;
}

.table-timeslot-td {
  padding-right: 20px;
  padding-top: 10px;
}

.timeslot-option {
  min-width: 130px;
  max-width: 150px;
  color: white;
  font-size: 22px;
}

.register-page-width {
  max-width: 1200px;
  margin: 0 auto;
}

.register-box {
  border-right: 1px solid #eaeaea;
}

.login-box {
  border-left: 1px solid #eaeaea;
}

/* ===== dashboard ===== */

.booking-box {
  border: 2px solid white;
  padding: 30px 90px 50px 90px;
  min-width: 700px;
  max-width: 800px;
  margin-right: 20px;
  margin: 0 auto;
  min-width: 750px;
}

.table-title {
  font-size: larger;
  font-weight: 700;
}

.table-booking-td {
  min-width: 150px;
  padding: 10px;
}

.cancel-button {
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.table-field-td {
  width: 150px;
  padding: 10px;
}

.table-treatment-td {
  width: 300px;
  padding: 10px;
}

/* ======  show page ====== */

.show-image {
  max-width: 450px;
  max-height: 450px;
  margin-right: 50px;
}

.detail-panel-div {
  max-width: 500px;
  height: 450px;
}

.product-info {
  min-height: 300px;
}

.product-info-seperator {
  margin-top: 0;
  margin-bottom: 0;
}

/* footer */
.footer-banner {
  background-color: #f4d0b9;
  max-height: 100px;
  margin-top: 80px;
  padding: 20px 5%;
  color: #3d4246;
}

/* 
Color code in light theme
pink footer: #EECBCB
text: #3D4246
sale price: #557B97
primary button: #557B97
borders & lines in page: #E8E9EB

*/
