<%- include('../partials/head') %>
<div class="header-banner">
      <h1 class="text-center mb-3 display-4 main-page-title">Member Log In</h1>
</div>
<div class="d-flex bd-highlight my-5 justify-content-center register-page-width">
      <%- include('./register') %>
      <%- include('./login') %>
</div>

<%- include('../partials/foot') %>
