<%- include('../partials/head') %>

<div class="container my-5">
      <h1 class="text-center display-4 mb-5">Welcome to Beautylash</h1>
      <div class="container my-3 d-flex flex-column align-items-center">
            <div class="row justify-content-start mb-5 dashboard-width">
                  <div class="col-6 utility-box">
                        <h2 class="mb-4 text-center">Upcoming appointment</h2>
                        <table class="mb-3">
                              <tr class="mb-3 table-title">
                                    <td class="table-booking-td">Date</td>
                                    <td class="table-booking-td">Treatment</td>
                                    <td class="">Action</td>
                              </tr>
                              <tr class="mb-3" style="font-size: 16px;">
                                    <td class="table-booking-td">2021-06-03</td>
                                    <td class="table-booking-td">Keratin Lashlift</td>
                                    <td class=""><a href="#">Cancel</a></td>
                              </tr>
                              <tr class="mb-3" style="font-size: 16px;">
                                    <td class="table-booking-td">2021-06-27</td>
                                    <td class="table-booking-td">Keratin Lashlift</td>
                                    <td class=""><a href="#">Cancel</a></td>
                              </tr>
                        </table>         
                  </div>
                  <div class="col-6 utility-box">
                        <%- include('../products/new.ejs') %>
                  </div>
            </div>     
            <div class="my-5">
                  <h2>The Post You Liked</h2>

            </div> 
      </div>
</div>

<%- include('../partials/foot') %>