<%- include('../partials/head') %>

<div class="container my-5 d-flex flex-column align-items-center">
      <form method="Post" action="/beautylash/users/login">
            <div class="mb-3">
                  <label for="email" class="form-label form-input-size">Email</label>
                  <input type="email" class="form-control form-input-size" id="email" name="email" />
            </div>
            <div class="mb-3">
                  <label for="password" class="form-label form-input-size">Password</label>
                  <input
                        type="password"
                        class="form-control form-input-size"
                        id="password"
                        name="password"
                  />
            </div>
            <div class="d-flex flex-row justify-content-center">
                  <button type="submit" class="btn btn-primary ">Login</button>
            </div>
            
      </form>
</div>


<%- include('../partials/foot') %>