<%- include('../partials/head') %>


<div class="header-banner">
      <h1 class="text-center mb-3 display-4 main-page-title">Customers in Instagram</h1>

      <form method="post" action="/beautylash/customers-with-filter">
      <div class="d-flex bd-highlight justify-content-center">
            
                  <span class="margin-right" style="font-size: 24px;">Show Only: </span>
                  <select name="category" class="margin-right form-select customer-input-size">
                        <option value="" selected>Select here</option>
                        <option value="Lash Lift">Lash Lift</option>
                        <option value="Russian Volume">Russian Volume</option>
                        <option value="Skinny Volume">Skinny Volume</option>
                        <option value="Show All">Show All</option>
                  </select>
                  <button type="submit" class="btn btn-success margin-right">
                        Find
                  </button>
      </div>
      </form> 
</div>

<div class="d-flex justify-content-start flex-wrap mt-5 posting-gallery">
      <% postings.forEach(element => { %> 
            <a href="/beautylash/customers/<%= element._id %>"><img src="<%= element.image %>" class="instagram-post mx-2 mb-3 border"></a>
      <% }) %>
</div>

<%- include('../partials/foot') %>
