<%- include('../partials/head') %>

<div class="container mt-5 mb-5">
      <h1 class="text-center mb-5">Customers in Instagram</h1>
      <div class="container d-flex justify-content-center flex-wrap">
            <% customers.forEach(element => { %> 
                  <div>
                        <img src="<%= element.image %>" class="instagram-post mb-3 mx-2 border">
                        <!-- <p class="text-center"><%= element.name %></p> -->
                  </div>
            <% }) %>
        </div>

<%- include('../partials/foot') %>
