<%- include('../partials/head') %>

  <div class="container mt-5 mb-5">
      <h2>
          Open beautylash app
          <a href="/beautylash">here</a>
      </h2>
  </div>

<%- include('../partials/foot') %>